.filter-form {
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  background-color: #e38f4b;
  padding-bottom: 4%;

  &__span {
    display: inline-block;
    height: 60%;
    width: 100%;
  }

  .hours-input input {
    text-align: left;
  }

  label {
    width: 20%;
    color: #fff;
  }
  .filter-btn {
    position: absolute;
    bottom: 33.5%;
    left: 3.5%;
    padding: 2px 10px;
  }

  .react-datepicker__navigation {
    top: 5%;
  }
}

@media (max-width: 768px) {
  .filter-form {
    position: relative;
    margin: 0 auto;
    padding: 5% 2% 4% 17%;
    gap: 7%;

    .city-input {
      width: 25%;
    }

    .hours-input {
      width: 20%;
    }

    .date-input {
      width: 18%;
    }

    input,
    .react-datepicker__input-container {
      width: 100%;
      margin-bottom: 10px;
    }
    .filter-btn {
      bottom: 16%;
    }
  }
}
