.works {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 10px;
  width: 85%;

  &-work-exit-active {
    opacity: 0;
    transition: opacity 700ms ease-out;
  }

  &-work-enter-active {
    opacity: 1;
    transition: opacity 700ms ease-in;
  }
}

.filter {
  width: 85%;
  direction: rtl;
  padding: 0 !important;
  background-color: #e38f4b;

  .me-auto {
    margin-right: 0 !important;
    width: 100%;
  }
  .container {
    margin: 0 !important;
    padding: 0 !important;
  }
  .toggle {
    padding-right: 16px;
  }
}

@media (max-width: 768px) {
  .works {
    display: block;
    width: 100%;
    padding: 0;
  }
  .filter {
    width: 100%;
    margin: 0;

    .navbar-toggler {
      border: none !important;
      box-shadow: none !important;
    }
  }
}
