.works {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 85%;
  padding: 0;

  &-work-exit-active {
    opacity: 0;
    transition: opacity 700ms ease-out;
  }

  &-work-enter-active {
    opacity: 1;
    transition: opacity 700ms ease-in;
  }
}

.filter {
  width: 85%;
  direction: rtl;
  padding: 0 !important;
  background-color: #56b9b4;

  .me-auto {
    margin-right: 0 !important;
    width: 100%;
  }
  .container {
    margin: 0 !important;
    padding: 0 !important;
  }
  .toggle {
    padding-right: 16px;
  }
}

.home-page__title {
  padding-top: 1.5rem;
}

.home-page__desc {
  width: 85%;
  font-size: 1rem;
  font-weight: 500;
  padding-top: 2rem;
}

@media (max-width: 992px) {
  .works {
    display: block;
    width: 100%;
    padding: 0;
  }
  .filter {
    width: 100%;
    margin: 0;

    .navbar-toggler {
      border: none !important;
      box-shadow: none !important;
    }
  }
  .home-page__desc {
    width: 90%;
    margin: 10px auto;
  }
}
