.noti {
  position: absolute;
  top: 1.5%;
  left: 3%;

  svg {
    cursor: pointer;
    font-size: 35px;
    z-index: 1;
    color: #440c5a;
  }

  &-link {
    color: black;
    text-decoration: none;
  }
}
