.add-work__btn {
  width: 85%;
  text-align: right;
  padding: 2% 3% 0;

  button {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.5rem;
    padding-top: 0;
  }
}

.loading-p {
  position: absolute;
  top: 10%;
  right: 50%;
  text-align: center;
  direction: rtl;
}

@media (max-width: 992px) {
  .add-work__btn {
    width: 100%;
  }
  .loading-p {
    right: 42.5%;
  }
}
