a {
  display: block !important;
  text-decoration: none !important;
  cursor: pointer !important;
}

.sidebar {
  margin: 0;
  padding: 0;
  position: fixed;
  right: 0;
  height: 100%;
  color: white;
  background: #440c5a;
  width: 15%;
  text-align: center;
}

.navbar a {
  color: #000 !important;
  padding: 8px !important;
}

.sidebar a {
  color: #fff;
  padding: 16px !important;
}

.sidebar a.active {
  background-color: #04aa6d;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.stars {
  margin: 0 auto;
}

.user-img {
  cursor: pointer;
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin: 10px auto;
  border: 2px solid #fff;
}
