a {
  display: block !important;
  text-decoration: none !important;
  cursor: pointer !important;
}

.navbar,
.sidebar {
  background: #0a8781;
}

.sidebar {
  margin: 0;
  padding-top: 1rem;
  position: fixed;
  right: 0;
  color: white;
  height: 100%;
  width: 15%;
  text-align: center;
}

.nav-link {
  color: #fff !important;
}

.navbar .nav-link {
  padding: 8px !important;
}

.sidebar .nav-link {
  padding: 16px !important;
}

.sidebar a:hover:not(.active) {
  background-color: #53d6cf;
  color: white;
}

.container {
  max-width: 100% !important;
}

.stars {
  margin: 0 auto;
}

.user-img {
  cursor: pointer;
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin: 10px auto;
  border: 2px solid #fff;
}

.school-name {
  margin-right: 0 !important;
  font-weight: bold;
  font-size: 1.5rem !important;
  color: #fff !important;
}

.footer-basic {
  padding: 30px 0;
  background-color: #e1e2e2;
  margin-top: auto;
  width: 85%;
  color: white;
  text-align: center;
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic h4 {
  text-align: center;
  padding-bottom: 10px;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic ul a:hover {
  opacity: 1;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer-basic .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.footer-basic .social > a:hover {
  opacity: 0.9;
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #4d4d4d;
  margin-bottom: 0;
}

.footer-logo {
  max-width: 30%;
  max-height: 95px;
  width: auto;
  height: auto;
}

@media (max-width: 992px) {
  .footer-basic {
    width: 100%;
  }

  .footer-logo {
    max-width: 37%;
    max-height: 70px;
  }
}
