.sidebar {
  margin: 0;
  padding: 0;
  position: fixed;
  right: 0;
  height: 100%;
  color: white;
  background: #440c5a;
  width: 15%;
  text-align: center;
}

.sidebar a,
.sidebar button {
  display: block;
  color: #fff;
  padding: 16px;
  text-decoration: none;
  cursor: pointer;
}
.sidebar a.active {
  background-color: #04aa6d;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.stars {
  margin: 0 auto;
}

.user-img {
  cursor: pointer;
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin: 10px auto;
  border: 2px solid #fff;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: left;
  }
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
