.work {
  position: relative;
  padding: 10px 0;
  direction: rtl;
  display: block;
  justify-content: center;
  gap: 3rem;
  width: 47%;
  border-radius: 10px;
  margin: 10px;
  animation: animatedOpacity 700ms linear;
  background-color: #003d64;
  color: #fff;

  &-inner__flex {
    display: flex;
    justify-content: space-between;
    margin: 0 10%;
  }

  .extras {
    display: flex;
    justify-content: space-between;
    margin: 0 7%;
  }

  .delete__btn {
    background-color: #d34304;
    border: #d34304;
  }
  .delete__btn:hover {
    background-color: rgb(221, 73, 70);
    border: rgb(221, 73, 70);
  }

  button {
    margin: 10px;
    font-size: 13px;
    font-weight: 500;
  }
}

@keyframes animatedOpacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .work {
    display: block;
    width: 95%;
    margin: 20px auto;
  }
}
