.work {
  position: relative;
  padding: 10px 0;
  direction: rtl;
  display: flex;
  justify-content: center;
  gap: 3rem;
  border: 2px solid black;
  width: 47%;
  border-radius: 10px;
  margin: 10px;
  animation: animatedOpacity 700ms linear;

  button {
    position: absolute;
    bottom: 22px;
    left: 10px;
    height: 40px;
    padding: 0 12px;
  }
}

@keyframes animatedOpacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .work {
    width: 100%;
    margin: 10px 0;
    gap: 2rem;
  }
}
