@import "./Sidebar";
@import "./Work";
@import "./Home";
@import "./Modal";
@import "./Login";
@import "./SchoolWorks";
@import "./Apply";
@import "./Notifications";
@import "./FilterForm";
@import "./WorksForm";
@import "./Details";
@import "./Loading";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
  // background-image: url("../assets/substitutes-background.jpg") !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100vh;
  text-align: right;
  font-size: 0.95rem !important;
}

nav {
  padding-right: 0 !important;
}

h1,
h2 {
  margin-right: 15%;
  padding-bottom: 1%;
}

h1 {
  padding-top: 1%;
  font-size: 2.25rem !important;
}

h2 {
  font-size: 1.5rem !important;
  margin-top: 1rem !important;
}

h6 {
  font-size: 0.9rem !important;
  font-weight: 400 !important;
}

input {
  padding: 0 5px;
  max-width: 300px;
}

button {
  max-width: 300px;
}

form {
  margin: 0 auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input::-webkit-calendar-picker-indicator {
  display: none !important;
}



.layout {
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 100vh;
}

.body {
  padding-bottom: 2%;
}

.light-blue__btn {
  background-color: #00cae5 !important;
  border: #00cae5 !important;
}

.light-blue__btn:hover,
.light-blue__btn:focus {
  background-color: #a3e2f0 !important;
  box-shadow: none !important ;
}

.form-btn {
  margin-top: 8px;
}



@media (max-width: 992px) {
  body {
    width: 100%;
  }
  h1,
  h2 {
    margin-right: 0;
  }
}
