@import "./Sidebar";
@import "./Work";
@import "./Home";
@import "./Modal";
@import "./Login";
@import "./SchoolWorks";
@import "./Apply";
@import "./Notifications";
@import "./FilterForm";
@import "./WorksForm";
@import "./Details";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Dosis", sans-serif !important;
  background-image: url("../assets/substitutes-background.jpg") !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100vh;
  text-align: right;
}

nav {
  padding-right: 0 !important;
}

h1,
h2 {
  margin-right: 15%;
  padding-bottom: 2%;
}

h1 {
  padding-top: 2%;
  font-size: 3rem !important;
}

input {
  padding: 0 5px;
  max-width: 300px;
}

button {
  max-width: 300px;
}

form {
  margin: 10px auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.layout {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.light-blue__btn {
  background-color: #5bd4ef !important;
  border: #5bd4ef !important;
}

.light-blue__btn:hover {
  background-color: #a3e2f0 !important;
  border: #a3e2f0 !important;
}

@media (max-width: 992px) {
  body {
    width: 100%;
  }
  h1,
  h2 {
    margin-right: 0;
  }
}
